.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 50px auto auto;
  grid-template-areas: 
  "h h h"
  "c c c"
  "f f f"
}

.header {
  grid-area: h;
  background: brown;
  font-size: 2em;
}

.content {
  grid-area: c;
  justify-content: center;
  align-items: center;
  background: gray;
}

.footer {
  grid-area: f;
  background: gray;
}

h1 {
  font-size: 2em;
}

.btn{
 width: 100px;
 background: transparent;
  padding: 10px;
  border-radius: 50%;
  outline: none;
}
